body {
    background-color: rgb(0, 0, 0);
    font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.header {
    z-index: 10;
    background-color: #f1f1f1;
    height: 8vh;
    background: rgb(94, 94, 94);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

/* logo */
.logo {
    padding-left: 20px;
}
.logo img {
    height: 8vh;
    width: 100%;
}

/* search */
.search-container {
    text-align: center;
    display: flex;
}
.search-form {
    display: flex;
    border: 2px solid rgb(161, 161, 161);
}
.search-form input {
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    width: 30vw;
}
.search-form input:focus {
    outline: none;
}
.search-form input::placeholder { 
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1em;
}
.search-input[type="text"], textarea {
    background-color : #b6b6b6; 
}
.search-form button {
    padding: 10px 20px;
    background-color: rgb(97, 97, 97);
    color: #e2e2e2;
    cursor: pointer;
    transition: 0.25s;
}
.search-form button:hover {
    background-color: rgb(39, 39, 39);
    animation: hoverCycle 5s infinite;
}
@keyframes hoverCycle {
    0% {
        color: red;
    }
    16.6% {
        color: orange;
    }
    33.3% {
        color: yellow;
    }
    50% {
        color: green;
    }
    66.6% {
        color: blue;
    }
    83.3% {
        color: indigo;
    }
    100% {
        color: red;
    }
}

/* login and signup */
.login-btn {
    background-color: #7E3EFF;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
} 
.login-btn:hover {
    background-color: #5e24b4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.signup-btn {
    background-color: #7E3EFF;
    color: #FFFFFF;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
} 
.signup-btn:hover {
    background-color: #5e24b4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* profile */
.profile {
    padding: 20px;
    display: flex;
    column-gap: 20px;
}
.user-icon {
    color: white;
}

/* logout btn */
#logout-btn button {
    background-color: #7E3EFF;
    color: #FFFFFF;
    border: none;
    height: 100%;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
#logout-btn button:hover {
    background-color: #5e24b4;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* search results */
.search-results {
    position: fixed;
    display: none;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.795);
    color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.searched-games {
    border-radius: 20px;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 10vh;
    max-width: 83vw;
    background-color: rgb(46, 46, 46);
}
.results-list {
    color: white;
    min-width: 83vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
}
.close-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    float: right;
}
.close-button:hover {
    color: red;
    background-color: #1a1a1a;
}
.search-results.active {
    display: flex;
}
/* no results */
.no-results {
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

/* game */
.game-card {
    display: flex;
    flex-direction: column;
    width: 175px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.game-card:hover {
    border-color: #5e24b4;
    cursor: pointer;
}
.game-image-container {
    position: relative;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.game-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.search-game-release-status {
    margin-top: 5px;
    color: #888;
}