.header {
    background-color: #f1f1f1;
    padding: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

/* search */
.search-container {
    text-align: center;
    display: flex;
    margin-left: 30%;
}
.search-form {
    display: flex;
    border: 2px solid lightgrey;
}
.search-input {
    padding: 10px;
    border: none;
    width: 30vw;
}
.search-form button {
    padding: 10px 20px;
    background-color: darkgrey;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}
.search-form button:hover {
    background-color: grey;
    animation: hoverCycle 5s infinite;
}
@keyframes hoverCycle {
    0% {
        color: red;
    }
    16.6% {
        color: orange;
    }
    33.3% {
        color: yellow;
    }
    50% {
        color: green;
    }
    66.6% {
        color: blue;
    }
    83.3% {
        color: indigo;
    }
    100% {
        color: violet;
    }
}

/* profile */
.profile {
    flex: 1;
    text-align: right;
    /* margin-left: auto; */
}
