#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.932);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.loading-pacman {
    height: 200px;
    width: 300px;
    padding: 30px;
    border-radius: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.pacman {
    z-index: 100;
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid #fbc02d;
    border-top: 50px solid #fbc02d;
    border-bottom: 50px solid #fbc02d;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    animation: pacmanAnimation 1s infinite;
}

.balls {
    display: flex;
    width: 100%;
    animation: moveLeft 1s linear infinite;
}
.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}
.ball1 {
    margin-left: 35px;
}
.ball2 {
    margin-left: 35px;
}
.ball3 {
    margin-left: 35px;
}
.ball4 {
    margin-left: 35px;
}
.ball5 {
    margin-left: 35px;
}
  
@keyframes pacmanAnimation {
    50% {
        border-right: 50px solid #fbc02d;
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-40%);
    }
}
