/* heavily altered code from chatgpt*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-form {
    display: flex;
    border: 2px solid lightgrey;
  }
  
  .search-input {
    padding: 10px;
    border: none;
    width: 30vw;
  }
  
  button {
    padding: 10px 20px;
    background-color: darkgrey;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button:hover {
    transition: 0.25s;
    background-color: grey;
    animation: hoverCycle 5s infinite;
  }
  @keyframes hoverCycle {
    0% {
      color: red;
    }
    16.6% {
      color: orange;
    }
    33.3% {
      color: yellow;
    }
    50% {
      color: green;
    }
    66.6% {
      color: blue;
    }
    83.3%{
        color: indigo;
    }
    100%{
        color: violet;
    }

  }
  .link-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40vw;
    margin: 1%;
  }
  .homelink, .aboutlink, .whatsNewlink, .gamelink{
    display: flex;
    background-color: lightgrey;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px;
  }
  .homelink a, .aboutlink a, .whatsNewlink a, .gamelink a {
    text-decoration: none;
    color: #333;
  }