.header {
    background-color: #f1f1f1;
    padding: 20px;
    display: grid;
    top: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left middle right";
    justify-content: center;
    align-items: center;
}
.left-container {
    grid-area: left;
    display: flex;
    justify-content: flex-start;
}
.navbarIcon {
    grid-area: left;
    display: flex;
}
.middle-container {
    grid-area: middle;
    justify-content: center;
}
.search-container {
    display: flex;
}

.search-form {
    display: flex;
    border: 2px solid lightgrey;
}

.search-input {
    padding: 10px;
    border: none;
    width: 30vw;
}

.search-form button {
    padding: 10px 20px;
    background-color: darkgrey;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.search-form button:hover {
    background-color: grey;
    animation: hoverCycle 5s infinite;
}
@keyframes hoverCycle {
    0% {
        color: red;
    }
    16.6% {
        color: orange;
    }
    33.3% {
        color: yellow;
    }
    50% {
        color: green;
    }
    66.6% {
        color: blue;
    }
    83.3% {
        color: indigo;
    }
    100% {
        color: violet;
    }
}
.right-container {
    grid-area: right;
    display: flex;
    justify-content: flex-end;
}
.profile {
    grid-area: right;
    display: flex;
    border-radius: 50%;
}
