/* ===== nav ===== */
body {
    margin: 0;
    /* margin-left: 7vw !important; */
}
.navbar {
    z-index: 1;
    background-color: #1a1a1a;
}
.side-nav {
    height: 100%;  
    width: 7vw;
    position: fixed;
    top: 0;             
    left: 0;
    background-color: rgb(17, 17, 17); 
    overflow-x: hidden;
    /* transition: 0.5s; */
    white-space: nowrap;
}
.side-nav p {
    font-family: 'Quantico', sans-serif;
    font-size: 1.5em;
    color: #c9c9c9;
    text-align: center;
    margin: 0;
}

/* open close nav */
#close-btn {
    font-family: 'Quantico', sans-serif;
    padding: 8px;
    text-decoration: none;
    font-size: 3em;
    color: #818181;
    text-align: right;
    /* transition: 0.3s; */
    display: none;
}
#close-btn:hover {
    color: rgb(223, 184, 12);
}
#open-nav-btn {
    padding: 6px;
    border: none;
    color: black;
    display: block;
    background-color: rgba(58, 212, 44, 0.863);
    text-decoration: none;
}
#open-nav-btn:hover {
    color: white;
    background-color: rgba(13, 161, 0, 0.863);
}

/* nav menu */
.nav-menu {
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    margin-top: 50px;
}
.nav-menu #open-nav-menu {
    display: none;
}
.nav-menu a {
    font-family: 'Quantico', sans-serif;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.nav-menu a:hover {
    color: rgb(223, 184, 12);
}

/* nav categories */
.nav-categories {
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    margin-top: 50px;
}
.nav-categories #open-nav-categories {
    display: none;
}
.nav-categories a {
    font-family: 'Quantico', sans-serif;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.nav-categories a:hover {
    color: rgb(223, 184, 12);
}

/* ===== mobile view ===== */
@media screen and (max-width: 800px) {
    #close-btn {
        display: block;
    }
    .side-nav a {
        text-align: center;
    }
    .side-nav img {
        width: 100vw;
    }
}