.home-container {
    background-color: #000000;
    color: white;
    min-height: 93vh;
}

.new-games-title {
    color: white;
    padding-top: 10vh;
    padding-bottom: 5px;
    margin: 0;
    margin-left: 5vw;
    font-size: 2em;
    font-weight: bold;
}

.new-games-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10px;
    background-color: rgb(46, 46, 46);
}
  
.game-card {
    display: flex;
    flex-direction: column;
    width: 175px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.game-card:hover {
    border-color: #5e24b4;
    cursor: pointer;
}

.game-image-container {
    position: relative;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
  
.game-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.game-creator {
    margin-top: 5px;
    color: #888;
}

.game-timestamp {
    margin-top: 5px;
    color: #888;
}

/* category icons */
.categories {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 15px;
    row-gap: 25px;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 20px 0px;
}
.categories-title {
    color: white;
    padding-top: 10vh;
    padding-bottom: 5px;
    margin: 0;
    margin-left: 5vw;
    font-size: 2em;
    font-weight: bold;
}
  
.category-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    border: 2px solid transparent;
    border-radius: 10px;
    padding-top: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.category-icon:hover {
    background-color: #383838;
    border-color: #5e24b4;
    cursor: pointer;
}
.category-icon p {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 0px;
    margin: 0;
}
.category-icon i {
    font-size: 50px;
    color: #5F3FE4;
    padding: 5px 0px;
}
.category-icon:hover i {
    color: #5e1cc0;
}
  
